.dart_tool/
.packages
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
.DS_Store
.env
.env.*
!.env.example
firebase-debug.log
firestore-debug.log
ui-debug.log
